.app {
  background-color: aquamarine;
  background-image: url('./assets/cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: .4s ease-out;
}

/* .app.warm {
  background-image: url('./assets/warm.jpg');
} */